
body {
    width: 100%;
    height: auto;
    margin: 0px 0px;
    background-color: cornflowerblue;
}

header{
	text-align: center;
	padding-bottom: 20px;
}

header .create{
	clear: both;
	width: 100%;
}

header .my-button{
	color: black;
	width:80%;
	background-color: gold;
	padding: 10px 0px;
	font-weight: bold;
	font-size: 1.2em;
}

.mainbody, .smiles{
	width: 100%; 
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.smile{
	min-height: 500px;
	max-height: 500px;
	border: dotted 3px cornflowerblue;
	background-color: lightsteelblue;
	margin: 20px 10px;
}
.smile-header{
	width:100%;
	padding: 10px 0px;
	height: 70px;
	border-bottom: dotted 3px cornflowerblue;
	text-align: center;
}

.smile-header .happiness-level{
	width: 25%;
	float: left;
}
.smile-header .happiness-level img{
	width: 90px;
	height: auto;
	align-content: center;
}
.smile-header .title{
	width: 50%;
	float:left;
}

.smile-header .like-info{
	width: 25%;
	float: left;
}
.smile .smile-body{
	width: 95%;
	height: 350px;
	margin: 5px 10px;
	overflow-y: scroll;
	overflow-x: none;
}

.smile .smile-footer{
	width: 100%;
	height: 30px;
	border-top: dotted 3px cornflowerblue;
}
.smile .smile-footer .timestamp{
	text-align: center;
	vertical-align: middle;
}

@media only screen and (max-width: 800px) {
	.smile{
		width: 90%;
	}
	.mainbody, .smiles{
		flex-direction: column;
	}
} 

@media only screen and (min-width: 801px){
	.smile{
		width: 45%;
	}
} 
@media only screen and (min-width: 1201px){
	.smile{
		width: 30%;
	}
} 
